<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <img src="../public/images/logo_latech_final.png" alt="logo-latech">
            <form id="search-form" action="" method="get"> <input type="text" name="q"
                    placeholder="O que você está procurando?" autocomplete="off" value="">
                <button type="submit">Buscar
                </button>
            </form>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="/products/offer">Ofertas</a></li>
                    <li><a href="#">Sobre nós</a></li>
                </ul>
                <ul class="left-navbar">
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="#">Carrinho</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <ul class="banner-navbar">
                    <li><a href="#">Notebook</a></li>
                    <li><a href="#">Desktop</a></li>
                    <li><a href="#">Celulares</a></li>
                    <li><a href="#">Acessórios</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>

</body>

</html>