<<<<<<< HEAD
*{font-family: Poppins, Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
=======
/* Estilos Gerais */
*{font-family: Poppins, Arial, Helvetica, sans-serif;  
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
>>>>>>> 15f657b5f4bc95c0f9c2d01006d985d02564cb7b
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
<<<<<<< HEAD
p {
    font-family: Poppins, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
}
img {
    max-width: 100%;
=======

p {
	font-family: Poppins, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 20px;
}

img {
	
	max-width: 100%;
>>>>>>> 15f657b5f4bc95c0f9c2d01006d985d02564cb7b
}
.menu-home {
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    justify-content: space-evenly;
    box-shadow: 0 4px 10px #37C83D;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        color: #C837C2;
        margin-bottom: 20px;
    }
    .menu-home img {
        width: 50px;
        height: 50px;
        }
=======
   
    border-bottom:  4px solid #37c83d;
    }

a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #C837C2;
    margin-bottom: 20px;
}
.menu-home img {

    width: 50px;
    height: 50px;
    }
>>>>>>> 15f657b5f4bc95c0f9c2d01006d985d02564cb7b
.menu-produtos img {
    width: 80px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
    }
.menu-produtos {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
}
.layout-home {
    display: block;
<<<<<<< HEAD
    }

.layout-home h2{
    border: 2px solid #37C83D;
    color: #37C83D;
    background-color: rgb(221, 217, 217);
    border-radius: 10px;
    text-transform: uppercase;
    padding: 60px;
    font-size: 20px;
    float: left;
}
.layout-imagens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(221, 217, 217);
    margin: 20px;
    justify-content: space-around;
}

.layout-oferta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(221, 217, 217);
}

.produtos-home {
    border: 2px solid #37C83D;
    padding: 5px
}

#mon {
    width: 160px;
    height: 170px;
}

=======
   
}
.layout-home h2{
    border: 3px solid #37c83d;
    color:#252525;
    background-color: #d9d9d973;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 60px;
    font-size: 24px;
    float: left;
}
.layout-imagens{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
>>>>>>> 15f657b5f4bc95c0f9c2d01006d985d02564cb7b
